body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* TOP SECTION */
header {
  background-color: #1f2937;
  color: white;
  padding: 5px 30px 30px 30px;
}

nav,
.hero,
section {
  max-width: 70%;
  margin: 0 auto;
}
nav,
nav ul {
  display: flex;
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
nav img {
  width: 100px;
  height: 100px;
  margin-right: auto;
}
h1 {
  font-size: 3rem;
  margin: 0;
  padding: 2rem 0;
}
.hero {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 20px;
}
.hero-title {
  max-width: 420px;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img img {
  width: 100%;
  max-width: 600px;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 12px;
  cursor: pointer;
}

/* MAIN SECTION */
h2 {
  text-align: center;
  margin: 2.5rem;
  font-size: 2rem;
}
.gifs {
  padding-bottom: 3rem;
}
.animals {
  display: flex;
  gap: 15px;
}
.subtext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  max-width: 300px;
}

.subtext img {
  /* max-width: 300px; */
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.47);
}
.subtext img:hover {
  scale: 1.05;
  cursor: pointer;
}

/* QUOTE SECTION */
figure {
  background-color: #e5e7eb;
  margin: 0;
  padding: 5rem;
}
.quote {
  width: 70%;
  margin: 0 auto;
}
blockquote {
  margin: 1rem;
  font-size: 2.25rem;
  font-style: italic;
  text-align: center;
}
figcaption {
  text-align: right;
  padding: 1.25rem 3.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 60%;
  margin: 0 auto;
}

/* SIGNUP SECTION */
.signup {
  padding: 4.5rem;
  width: 50%;
  font-size: 1rem;
}
.signup-container {
  background-color: #3882f6;
  color: white;
  padding: 1.5rem 2.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.signup button {
  border: 1px solid white;
  flex-shrink: 0;
}

/* FOOTER SECTION */
footer {
  background-color: #1f2937;
  color: white;
  padding: 1.7rem;
  text-align: center;
}
